[project]
	description = I create the repo to test jni nio support for https://issues.jboss.org/browse/BLACKTIE-121
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Amos Feng (zhfeng)
[access "refs/for/refs/*"]
	read = group user/Amos Feng (zhfeng)
	push = group user/Amos Feng (zhfeng)
	label-Code-Review = -2..+2 group user/Amos Feng (zhfeng)
	label-Verified = -1..+1 group user/Amos Feng (zhfeng)
	rebase = group user/Amos Feng (zhfeng)
	removeReviewer = group user/Amos Feng (zhfeng)
	submit = group user/Amos Feng (zhfeng)
[access "refs/heads/*"]
	read = group user/Amos Feng (zhfeng)
	create = group user/Amos Feng (zhfeng)
	push = +force group user/Amos Feng (zhfeng)
	pushMerge = group user/Amos Feng (zhfeng)
[access "refs/tags/*"]
	push = +force group user/Amos Feng (zhfeng)
	pushTag = group user/Amos Feng (zhfeng)
	pushSignedTag = group user/Amos Feng (zhfeng)
